/* Slide-in effect for the mobile menu */
#mobile-menu-toggle:checked~.mobile-menu {
    display: block;
}

/* Focus effect for search bar */
input[type="search"]:focus {
    @apply outline-none border-indigo-500;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Sposta tutti gli elementi del carosello */
  }
}

.carousel-inner {
  animation: scroll 30s linear infinite;
}

.carousel:hover .carousel-inner {
  animation-play-state: paused; /* Ferma l'animazione quando si passa sopra */
}


.animate-scroll {
    animation: scroll 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
    animation-play-state: paused;
}

.category-card {
    height: 200px; 
}

.category-card:hover img {
    opacity: 1; 
}
.site-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;}
